@import "tailwindcss";

@theme {
  --font-main: "Space Mono", monospace;
  --text-main: clamp(1.4rem, 1.3296rem + 0.1878vw, 1.6rem);
  --text-input: clamp(2rem, 1.8366rem + 1.5023vw, 2.4rem);

  --color-cyan: hsl(172, 67%, 45%);
  --color-cyan-900: hsl(183, 100%, 15%);
  --color-cyan-600: hsl(186, 14%, 43%);
  --color-cyan-500: hsl(184, 14%, 56%);
  --color-cyan-400: hsl(185, 41%, 84%);
  --color-cyan-300: hsl(189, 41%, 97%);
  --color-white-100: hsl(0, 0%, 100%);
}
